@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

header, h1, h2, h3 {
  font-family: 'Yusei Magic', sans-serif;
}

.btn-dark {
  background-color: #130f40;
}

.btn-dark:hover {
  color: orange;
  background-color: #130f40;
}
.navbar-brand {
  color: white!important;
}

.bg-light {
  background-color: #130f40!important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(207, 141, 55);
}

h1 {  
  background-color: rgb(58, 77, 141);
  color: white;
}

.navbar-toggler {
  color: white!important;
}

/* Modification de la page pour l'affichage sur mobile */
@media screen and (max-width: 680px) {
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-4 {
    width: 90%;
  }

}